# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth
# 'atom-workspace':
#   'ctrl-alt-o': 'browser-plus-zoom:toggle'

'.browser-plus webview':
  # 'cmd-=': 'browser-plus-view:zoomIn'
  # 'cmd--': 'browser-plus-view:zoomOut'
  'ctrl--': 'native!'
  'ctrl-=': 'native!'
  'f6': 'native!'
